{
  "$schema": "https://json.schemastore.org/swcrc",
  "jsc": {
    "baseUrl": "./src",
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "dynamicImport": true,
      "decorators": true
    },
    "paths": {
      "@utils/*": [
        "utils/*"
      ],
      "@infra/*": [
        "infra/*"
      ],
      "@domain_models/*": [
        "domain_models/*"
      ],
      "@domains/*": [
        "domains/*"
      ]
    },
    "target": "esnext",
    "loose": false,
    "externalHelpers": false,
    "keepClassNames": false
  },
  "module": {
    "type": "commonjs",
    "strict": false,
    "strictMode": false,
    "noInterop": false,
    "lazy": false
  },
  "minify": false
}